{% extends "bootstrap/base.html" %}

{% block title %}SALT Data Quality{% endblock %}

{% block head %}
    {{ super() }}

    <!-- jQuery UI -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.css"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.css"
          rel="stylesheet" type="text/css">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.2.min.css"
          rel="stylesheet" type="text/css">
    {% assets 'css-all' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.2.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.2.min.js"></script>
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">SALT Data Quality</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Telescope</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/telescope/night">Night</a></li>
                        <li><a href="/data-quality/telescope/week">Week</a></li>
                        <li><a href="/data-quality/telescope/semester">Semester</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Instrument</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/instrument/scam">SCAM</a></li>
                        <li><a href="/data-quality/instrument/rss">RSS</a></li>
                        <li><a href="/data-quality/instrument/hrdet">HRS Red</a></li>
                        <li><a href="/data-quality/instrument/hbdet">HRS Blue</a></li>
                        <li><a href="/data-quality/instrument/bvit">BVIT</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proposal</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/proposal/phase1">Phase 1</a></li>
                        <li><a href="/data-quality/proposal/phase2">Phase 2</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

    <!-- own JavaScript -->
    {% assets 'js-all' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}