{% extends "bootstrap/base.html" %}

{% block title %}SALT Data Quality{% endblock %}

{% block head %}
    {{ super() }}

    <!-- jQuery UI -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/base/jquery-ui.css"/>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    {% for f in bokeh_resources.css_files %}
       <link rel="stylesheet" href="{{ f }}">
    {% endfor %}
    {% assets 'css-all' %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}


    {% for f in bokeh_resources.js_files %}
        <script src="{{ f }}"></script>
    {% endfor %}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">SALT Data Quality</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Telescope</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/telescope/night">Night</a></li>
                        <li><a href="/data-quality/telescope/week">Week</a></li>
                        <li><a href="/data-quality/telescope/semester">Semester</a></li>
			            <li><a href="/data-quality/telescope/throughput">Throughput</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Instrument</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/instrument/scam">SCAM</a></li>

                        <li class="dropdown-submenu">
                            <a class="submenu"  href="#">RSS <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/data-quality/instrument/rss/bias">Bias Levels</a></li>
                                <li><a href="/data-quality/instrument/rss/straylight">Straylight</a></li>
                                <li><a href="/data-quality/instrument/rss/intensity">Arc Intensity</a></li>
                                <li><a href="/data-quality/instrument/rss/throughput">Throughput</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a class="submenu"  href="#">HRS <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a class="submenu"  href="#">Blue <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/data-quality/instrument/hrs/blue/arc">Arc Wave</a></li>
                                        <li><a href="/data-quality/instrument/hrs/blue/bias">Bias Levels</a></li>
                                        <li><a href="/data-quality/instrument/hrs/blue/flats">Flats</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="submenu"  href="#">Red <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/data-quality/instrument/hrs/red/arc">Arc Wave</a></li>
                                        <li><a href="/data-quality/instrument/hrs/red/bias">Bias Levels</a></li>
                                        <li><a href="/data-quality/instrument/hrs/red/flats">Flats</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown-submenu">
                                    <a class="submenu"  href="/data-quality/instrument/">Environment
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/data-quality/instrument/hrs/environment/temperature">Temperature</a></li>
                                        <li><a href="/data-quality/instrument/hrs/environment/pressure">Pressure</a></li>
                                        <li><a href="/data-quality/instrument/hrs/environment/focus">Focus</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="/data-quality/instrument/bvit">BVIT</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Proposal</a>
                    <ul class="dropdown-menu">
                        <li><a href="/data-quality/proposal/phase1">Phase 1</a></li>
                        <li><a href="/data-quality/proposal/phase2">Phase 2</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <!-- jQuery UI -->
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>

    <!-- required libraries -->
    {% assets 'js-libraries' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <!-- own JavaScript -->
    {% assets 'js-all' %}
        <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
{% endblock %}
